# The dir contains files that should not be accessible publicly.

# GitHub API key for Crashinvaders account. Used to create GitHub issues using ScribeJava library.
# The file contains single string value representing GitHub API secret key encoded with Base64 encoding.
github-api